body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url("oo.jpg");
    background-repeat: no-repeat;
    background-position: auto;
    background-size: cover;
}

h1 {
    text-align: center;
    color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.converter {
    margin-top: 20px;
    text-align: center;
    align-items: center;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="number"], select {
    padding: 5px;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: lightskyblue;
    border-radius: 30px;
    width: 100px;
    height: 30px;
}

#result {
    margin-top: 10px;
    font-weight: bold;
}
#input{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    color: black;
    background-color: lightyellow;
}
#from{
width: 200px;
    height: 40px;
    border-radius: 30px;
    color: black;
    background-color: lightyellow;
}
#to{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    color: black;
    background-color: lightyellow;
}
